body{
    display: flex;
    background-image: url(mcqueen.jpg);
    background-repeat: no-repeat;
    background-size: 106%;
    background-position: 100% 51%;
    justify-content: right;
    align-items: center;
}

#calculatrice{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 130px 90px 90px 90px 90px 90px;
    border: 5px black solid;
    background-color: rgb(164, 164, 164);
    padding: 3px;
    border-radius: 10px;
    margin-top: 40px;
    margin-right: 20px;
}
#affichage{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    align-items: center;
    grid-column: span 4;
    margin: 1px;
    border-radius: 5px;
    font-family: 'Formula1';
    font-size: 24px;
    font-weight: 600;
    background-color: rgb(92, 20, 20);
    color: white;
}
#ac, #egal{
    grid-column: span 2;
    background-color: rgb(154, 27, 27);
}
button{
    cursor: pointer;
    margin: 1px;
    color: white;
    background-color: rgba(112, 18, 18, 0.721);
    font-family: 'Formula1';
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: rgba(125, 21, 21, 0.426);
}
#ac:hover, #egal:hover{
    background-color:rgba(154, 27, 27, 0.796);
}
@font-face {
    font-family: "Formula1";
    src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf);
}